.animated-section {
    animation: slideIn 1s ease-in-out;
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .box {
    width: 100%;
    height: 100%;
    background-color: rgb(50, 3, 50);
    box-shadow: 0 0 1px aqua, 0 0 10px aqua, 0 0 25px aqua;
}

        /* Define the animations */
        @keyframes slide-in {
            0% { transform: translateX(-100%); }
            100% { transform: translateX(0); }
        }

        @keyframes bounce {
            0%, 100% { transform: translateY(0); }
            50% { transform: translateY(-20px); }
        }

        /* Apply the animations to the section and h1 elements */
        section {
            animation: slide-in 1s ease-in-out;
        }

        h1 {
            animation: bounce 1s ease-in-out infinite;
        }

        section{
            height: 100%;
            width: 100%;
        }

        h1{
            color: aliceblue;
            text-shadow: 0 0 1px aqua, 0 0 10px aqua, 0 0 25px aqua;
        }

              /* Define the animation */
              @keyframes linkAnimation {
                0% { color: blue; }
                50% { color: aqua; }
                100% { color: blue; }
            }
    
            /* Apply the animation to the links */
            a {
                animation: linkAnimation 2s infinite;
            }